*{
   margin: auto;
   font-family:  sans-serif;
   box-sizing: border-box;
}
body{
   background: #555;
}

.card{
   height: auto;
   width: 90%;
   max-width: 500px;
   border-radius: 9px;
   margin: 50px auto 50px;
   padding: 40px 35px;
   text-align: center;
   background: linear-gradient(220deg, #01b887, #7f73cc);
}

.search{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.card input{
   border: 0;
   outline: 0;
   background: #ebfffc;
   color: #555;
   height: 35px;
   border-radius: 10px;
   margin-right: 16px;
   padding:  10px 25px;
   font-size: 18px;
   flex: 1;
}
.search button{
   border: 0;
   outline: 0;
   cursor: pointer;
   background: #ebfffc;
   color: #555;
   border-radius: 50%;
   height: 34px;
   width: 34px;
}
.search button img{
   width: 16px;
}
.weather-icon{
   width: 170px;
   margin-top: 30px;
}
.weather h1{
   font-size: 80px;
   font-weight: 500;
}
.weather h2{
   font-size: 45px;
   font-weight: 400;
   margin-top: -10px;
}
.details{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   margin-top: 50px;
}
.col{
   display: flex;
   align-items: center;
   text-align: left;
}
.col img{
   width: 40px;
   margin-right: 10px;
}
.humidity, .wind{
    font-size: 18px;
    margin-top: -6px;
}
.weather{
   display: none;
}
.error{
   text-align: left;
   margin-left: 10px;
   font-size: 20px;
   color: #ebfffc;
   margin-top: 10px;
   display: none;

}
.heading{
   color: #fdfdfd;
   padding-bottom: 10px;
}